body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* backround-color: gray;*/
    color: white;
    background-image: url("..Kuvat/taustakuva.jpg");
}

h1 {
    font-size: 20px;    
}

#linkki {
    color: white;
}

p{
    font-size: 12px;
    color: blue;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
}

div {
    border-width: 4px;
    border-style: dotted;
    border-color: blueviolet;
}

.teksti {
    width: 50px;
    height: 50px;
}

ol {
    list-style: lower-alpha;
}

ul {
    list-style: square;
}

#kuva1 {
    padding-left: 50px;
    margin: 5px;
    color: aqua;
}

#kuva2 {
    padding-left: 15px;
}