header, footer {
    background-color: rgb(32, 158, 162);
    text-align: center;
}
nav {
    background-color: rgb(99, 161, 214);
    margin: 0;
    padding: 1em;
}
body {
    background-color: rgb(173, 202, 208);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div.container {
  width: 100%;
}

.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
  text-align: center;
}
#toinen {
    border: 12px solid lightseagreen;
}
#vaihtoehto1 {
    border: 1px solid lightseagreen;
    padding: 5%;
    display: inline-block;
}
#vaihtoehto2 {
  border: 1px solid lightseagreen;
  padding: 5%;
  display: inline-block;
}