/* Yleiset tyylit headerille ja footerille */
header, footer {
    background-color: blue;
    color: white;
    text-align: center;
    opacity: 0.8; 
    width: 100%;
    margin: 0;
}

h1 {
    font-family: cursive;
}

/* Erityistyylit footerille */
footer {
    padding: 10px;
    bottom: 0;
}

/* Erityistyylit headerille */
header {
    padding: 20px;
}

/* Kirjaudu-painikkeen sijoittelu */
#kirjaudu {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Navigoinnin tyylit */
nav {
    background-color: blue;
    padding: 10px;
    opacity: 0.8;
    font-size: 20px;
}

/* Wrapperin tyylit */
.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper div {
    padding: 0 20px;
}

/* Linkkien tyylit */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Tausta tyylit */
body {
    background-color: #f5f5dc;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

/* Sisällön tyylit */
.sisalto {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
}
.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
}

/* Tapahtumien tyylit */
.tapahtumat {
    color: white;
    background-color: blue;
    padding: 10px;
    opacity: 0.6;
    border-radius: 5px;
}
.tapahtumat h3 {
    text-decoration: underline;
}

.tapahtumat li {
    list-style-type: circle;
    padding: 5px;
}