header, footer {
    background-color: rgb(91, 91, 222);
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: rgb(99, 161, 214);
    padding: 1em;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

#nav2 {
    float: left;
    list-style-type: none;
    background-color: white;
}
#content {
    display: flex;
    flex-wrap: wrap;
}

#nav2 ul {
    padding: 0;
    list-style-type: none;
}

#nav2 li {
    margin-bottom: 10px;
}

#main-content {
    flex: 1;
    padding: 0 20px;
    max-width: 70%;
}

footer {
    background-color: rgb(91, 91, 222);
    text-align: center;
    padding: 1em 0;
}

#teksti2 {
    margin: 0;
}
